<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-block">

        <div class="form-group">
          <button 
          *ngIf="this.currentUser.authRules.isDispatcherManager === true" 
          class="btn btn-success pull-right"  (click)="onAddNew()">New</button>
        </div>
        <br><br>
        <h5 class="card-title"><i class="fa fa-atm" aria-hidden="true"></i>Manage Dispatch Ticket</h5>
        <app-dispatch-ticket-item *ngFor="let dt of dts " [dt]="dt" [dtId]="dt._id"></app-dispatch-ticket-item>
      </div>
    </div>
  </div>
</div>
