<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">ATM Management System</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

       <li class="dropdown">
          <a   style="cursor: pointer;" class="dropdown-toggle" role="button">ATM Machines <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li routerLinkActive="active"><a style="cursor: pointer;">View Machine Detail</a></li>
          </ul>
        </li>

       <li class="dropdown">
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Dispatch Ticket<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;">View My Dispatch ticket</a></li>
            <li><a style="cursor: pointer;">View All Dispatch Ticket</a></li>
          </ul>
        </li>

	    
	    <li class="dropdown">
          <a   style="cursor: pointer;" class="dropdown-toggle" role="button">Technician Ticket<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;">View All Ticket</a></li>
          </ul>
        </li>

        
        <li class="dropdown">
          <a   style="cursor: pointer;" class="dropdown-toggle" role="button">Part Inventory<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;">View All Inventory</a></li>
          </ul>
        </li>


         <li class="dropdown">
          <a   style="cursor: pointer;" class="dropdown-toggle" role="button">Tresury <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;">Manage Tresury</a></li>
          </ul>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a   style="cursor: pointer;" class="dropdown-toggle" role="button">System Admin <span class="caret"></span></a>
          <ul class="dropdown-menu">  
            <li><a  style="cursor: pointer;">Manage Company </a></li>
            <li><a  style="cursor: pointer;">Manage Users</a></li>
            <li><a style="cursor: pointer;">Manage ATM</a></li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
