.active-user{
  background-color:green;
}

.inactive-user{
  background-color:red;
}

.card{
  margin-top:15px;
  max-width:800px;
}

.list-group-item{
	border-left:none;
  border-right:none;
  border-top:none;
}

.btn{
  margin-left: 5px;
}
