.btn{
  margin-left:5px;
  margin-bottom: 5px;
}

.card{
  margin-top:15px;
  padding:5px;

}

.open{
  background: green;
}

.closed{
  background: grey;
}

strong{
  color:#007bff
}

.list-group-item{
	border-left:none;
  border-right:none;
  border-top:none;
}


nav.navbar.bg-light-blue {
    background-color: #f4f0f0;
    border-radius: 5px;
}
