<div class="card">
  <h3><i class="fa fa-credit-card" aria-hidden="true"></i> Selected Dispatch Ticket Detail</h3>
  <nav class="navbar navbar-light bg-light">
    <button class="btn btn-primary">Edit</button>
  </nav>
  <div class="card-body">
    <p class="text-mute">Dispatch Ticket ID : </p>
    <h4 class="card-title">{{ id }} </h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      Select ResponsiblePerson :
      <h4 class=""> ---- ATM -------- </h4>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Row1</td>
            <td>Row1</td>
            <td>Row1</td>
            <td>Row1</td>
            <td>Row1</td>
            <td>Row1</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Row2</td>
            <td>Row2</td>
            <td>Row2</td>
            <td>Row2</td>
            <td>Row2</td>
            <td>Row2</td>
          </tr>

        </tbody>
      </table>
    </li>
    <li class="list-group-item">
      Select Services ATM Machine :
      <h4 class=""> ---- ATM -------- </h4>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Row1</td>
            <td>Row1</td>
            <td>Row1</td>
            <td>Row1</td>
            <td>Row1</td>
            <td>Row1</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Row2</td>
            <td>Row2</td>
            <td>Row2</td>
            <td>Row2</td>
            <td>Row2</td>
            <td>Row2</td>
          </tr>

        </tbody>
      </table>
    </li>
    <li class="list-group-item">
      Select Technician Ticket :
      <h4 class=""> ------TechnicianTicket------ </h4>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Row1</td>
            <td>Row1</td>
            <td>Row1</td>
            <td>Row1</td>
            <td>Row1</td>
            <td>Row1</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Row2</td>
            <td>Row2</td>
            <td>Row2</td>
            <td>Row2</td>
            <td>Row2</td>
            <td>Row2</td>
          </tr>

        </tbody>
      </table>
    </li>


    <li class="list-group-item">
      <small>Updated on: will be updated</small>
    </li>

  </ul>
</div>
