.card{
  padding:15px;
  margin-top:15px;
  min-width: 250px;
}

.open{
  background: green;
}

.closed{
  background: grey;
}


.list-group-item{
	border-left:none;
  border-right:none;
  border-top:none;
}

nav.navbar.bg-light-blue {
    background-color: #ccc;
    border-radius: 5px;
}

.btn-group{
  margin-top:5px;
}