<div class="col-md-12">
        <div class="error-template">
               <h1>
                   Oops!</h1>
               <h2>Server is unavailable</h2>
               <div class="error-details">
					The requested server is unavailable. Please Try again or contact your support and describe your issue.
				</div>
               <div
               class="error-actions">
                   <a class="btn btn-primary"
                     a href="/login">
                     <span class="fa fa-home"></span>
                       Try again</a>
               </div>
        </div>
</div>
