<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-block">
        <div class="form-group">
          <button class="btn btn-success pull-right" (click)="onAddUser()">Create a new user</button>
        </div>
        <h4 class="card-title"><i class="fa fa-users" aria-hidden="true"></i>Users info</h4>
        <nav class="navbar navbar-light bg-light">
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </nav>
        <app-user-item *ngFor="let user of users" [user]="user" [userId]="user._id"></app-user-item>
      </div>
    </div>
  </div>
</div>
