.app-login{
	max-width:300px;
	margin:30px auto;
	background:rgba(255,255,255,1);
	padding:20px 25px;
	border-radius:5px;
	box-shadow:2px 3px 10px rgba(255,255,255,0.05);
}
.app-login h2{
	font-size:20px;
	line-height:20px;
	margin:15px 0px 25px 0px;
	text-transform:uppercase;
	/*color:#fff;*/
	text-align: center;
}
.app-login form{
	margin-bottom:15px;
	/*color:#000;*/
}
.app-login .center{
  text-align: center;
}
.app-login a{
  font-size:small;
}
