 <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button"
      data-toggle="collapse"
      data-target="#main_header_nav"
      aria-controls="main_header_nav"
      aria-expanded="false"
      (click)="collapsedMenu()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a
        class="navbar-brand"
        [routerLink]="['/home']">
        <i class="fa fa-credit-card" aria-hidden="true"></i>ATM Management System</a>

      <div class="navbar-collapse" id="main_header_nav" [ngClass]="{'collapse': isCollapsed}">
        <ul class="navbar-nav mr-auto">
         <li
         *ngIf="isAtmVaulter"
         class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle"
            	ngbDropdownToggle>ATM Machines</a>
            <div class="dropdown-menu" aria-labelledby="atm-dropdown">
              <a class="dropdown-item" [routerLink]="['my-dispatch-ticket']">My Dispatch Tickets</a>
              <a class="dropdown-item" [routerLink]="['dispatch-ticket']">All Dispatch Tickets</a>
            </div>
         </li>
         <li
         *ngIf="isAtmTechnician"
         class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle" ngbDropdownToggle>Technician Tickets</a>
            <div class="dropdown-menu" aria-labelledby="techician-ticket-dropdown">
              <a
               [routerLink]="['technician-ticket']"
               class="dropdown-item" >
                <i class="fa fa-ticket" aria-hidden="true"></i>
                All Technician Tickets</a>
            </div>
         </li>
         <li
         *ngIf="isWareHouseManager"
         class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle" ngbDropdownToggle>Part Inventory</a>
            <div class="dropdown-menu" aria-labelledby="part-inventory-dropdown">
              <a
               [routerLink]="['part-inventory']"
               class="dropdown-item">
                <i class="fa fa-microchip" aria-hidden="true"></i>
                View All Inventory</a>
            </div>
         </li>
         <li
         *ngIf="isDispatcherManager"
         class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle"
            	ngbDropdownToggle
            	aria-haspopup="true"
            	aria-expanded="false">Manage Tresury</a>
            <div class="dropdown-menu" aria-labelledby="manage-tresury-dropdown">
              <a
              [routerLink]="['tresury']"
              class="dropdown-item" ><i class="fa fa-money" aria-hidden="true"></i> Manage Tresury</a>
            </div>
         </li>
         <li
         *ngIf="isAdmin"
         class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle"
            	ngbDropdownToggle
            	aria-haspopup="true"
            	aria-expanded="false">System Admin</a>
            <div class="dropdown-menu" aria-labelledby="system-admin-dropdown">
              <a
               [routerLink]="['company-profile']"
               class="dropdown-item">
                <i class="fa fa-building" aria-hidden="true"></i>Manage Company</a>
              <a
              [routerLink]="['user']"
              class="dropdown-item"><i class="fa fa-user-o" aria-hidden="true"></i>Manage Users</a>
              <a
              [routerLink]="['atm']"
              class="dropdown-item"><i class="fa fa-id-card" aria-hidden="true"></i>Manage Atm</a>
            </div>
         </li>
        </ul>
      </div>
      <div class="pull-right">

      </div>
    </nav>
