<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-block">

        <div class="form-group">
          <button class="btn btn-success pull-right" (click)="onAddAtm()">New machine</button>
        </div>
        <h4 class="card-title"><i class="fa fa-atm" aria-hidden="true"></i>Manage ATM Machine</h4>
        <nav class="navbar navbar-light bg-light">
          <form class="form-inline">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </nav>
        <app-atm-item *ngFor="let atm of atms " [atm]="atm" [atmId]="atm._id"></app-atm-item>
      </div>
    </div>
  </div>
</div>
