<div class="card">
  <div class="card-title">
    <nav class="navbar bg-light-blue">
      <h5 class="card-title">#{{tt.tTicketID}}</h5>
    <a style="cursor: pointer;"
    [routerLink]="[ttId,'edit']"
    routerLinkActive="active"
    class="btn btn-outline-primary pull-right">
      Edit Ticket
    </a>
  </nav>
  </div>
  <div class="card-body">
    <span class="badge badge-pill" ngClass="{{tt.tTicketStatus}}">
  {{ tt.tTicketStatus }}
  </span>
    <strong>Symptom:</strong>
    <p class="card-text">
      {{ tt.tTicketSymptom }}
    </p>
    <strong>Solution:</strong>
    <p class="card-text">
      {{ tt.tTicketSolution }}
    </p>
    <strong>Atm Machine:</strong>
    <p class="card-text">
      {{ tt.atmMachineID }}
    </p>
    <strong>Responsible Person:</strong>
    <p class="card-text">
      {{ tt.tTicketResponsiblePerson?.fullName }}
    </p>

  </div>
  <div class="card-footer">
    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
    <small class="text-muted">updated: {{tt.updated |  date:'medium' }}</small><br>
    <i class="fa fa-calendar" aria-hidden="true"></i>
    <small class="text-muted">created: {{tt.tTicketCreated | date:'medium' }}</small>
  </div>

</div>
