.btn{
  margin-left:5px;
  margin-bottom: 5px;
}

.card{
  margin-top:15px;
  padding:5px;

}

.open{
  background: green;
}

.closed{
  background: grey;
}


.list-group-item{
	border-left:none;
  border-right:none;
  border-top:none;
}
.bg-light {
    background-color: #ff9800!important;
    border-bottom: 2px solid #2196F3;
    border-radius: 5px;
}

nav.navbar.bg-light-blue {
    background-color: #f4f0f0;
    border-radius: 5px;
}
