<div class="img-thumbnail">
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false">
    <agm-marker *ngFor="let m of markers;let i = index" [latitude]="m.lat" [longitude]="m.lng" [markerDraggable]="m.draggable">
      <agm-info-window>
        <h5>
           {{m?.name}}
        </h5>
        Atm Status :
        <span class="badge badge-pill {{ m?.desc.atmStatus}}">
          {{ m?.desc.atmStatus}}
        </span>
        <div>
          <dl>
            <dt>Atm Dispatch status :</dt>
            <dd>
              <span class="badge badge-pill {{m?.desc.dtAtmStatus}}">
            {{m?.desc.dtAtmStatus}}
            </span>
            </dd>
            <dt>Expected Remaining:</dt>
            <dd>{{m?.balance | currency:'USD':true}}</dd>
            <dt>Actual Remaining:</dt>
            <dd>{{m?.actualBalance | currency:'USD':true}}</dd>
            <dt>Deposit Bill:</dt>
            <dd>{{m?.desc.deposit | currency:'USD':true}}</dd>
            <dt>Bad Bill:</dt>
            <dd>{{m?.desc.badBill | currency:'USD':true}}</dd>
            <dt>Current Balance:</dt>
            <dd>{{(m?.actualBalance + m?.desc.deposit)-m?.desc.badBill  | currency:'USD':true}}</dd>
          </dl>

        </div>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>
