<div class="card">
  <div class="card-block">
    <h5 class="card-title"><i class="fa fa-user-circle-o" aria-hidden="true"></i>{{ editMode? 'Edit' : 'Create A new User'}} {{user?.fullName}}</h5>
    <hr>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div>
        <nav class="navbar bg-light-blue">
        <button [disabled]="!userForm.valid" class="btn btn-success" type="submit">Save</button>
        <button class="btn btn-danger pull-right" (click)="onCancel()" type="reset">Cancel</button>
      </nav>
        <div class="alert alert-danger" role="alert" *ngIf="!userForm.valid && userForm.touched">
          Please input all required fields!!
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="msg?.success===false">
          {{msg?.message}}
        </div>
        <div class="alert alert-info" role="alert" *ngIf="msg?.success===true">
          {{msg?.message}}
        </div>

        <hr>
        <h3>User Description</h3>
        <hr>
      </div>
      <div class="form-row form-inline">
      <div class="form-group mx-sm-6">
        <label class="label-fix-width" for="firstName">First Name</label>
        <input #firstName formControlName="firstName" type="text" class="form-control" placeholder="Enter First Name">
        <div class="alert alert-danger" *ngIf="userForm.get('firstName').hasError('required') && userForm.get('firstName').touched">
              First Name is required
        </div>
      </div>
      <div class="form-group mx-sm-6">
        <label class="label-fix-width"  for="lastName">Last Name</label>
        <input formControlName="lastName" type="text" class="form-control" placeholder="Enter Last Name">
        <div class="alert alert-danger" *ngIf="userForm.get('lastName').hasError('required') && userForm.get('lastName').touched">
        		Last Name is required!
        </div>
      </div>
    </div>
          <div class="form-row form-inline">
      <div class="form-group mx-sm-12">
        <label class="label-fix-width"  for="userName">User Name</label>
        <input formControlName="userName" type="text" class="form-control" placeholder="Enter User Name">
        <div class="alert alert-danger" *ngIf="userForm.get('userName').hasError('required') && userForm.get('userName').touched">
        		User Name is required!
        </div>
      </div>

    </div>
    <div class="form-row form-inline">
      <div class="form-group mx-sm-6">
        <label class="label-fix-width"  for="userPwd">Password</label>
        <input name="userPwd" formControlName="userPwd" type="password" class="form-control" placeholder="Enter Password">
      </div>
      <div class="form-group mx-sm-6">
        <label class="label-fix-width"  for="userPwd2">*Password</label>
        <input name="userPwd2" formControlName="userPwd2" type="password" class="form-control" placeholder="Enter Password">
      </div>
    </div>
    <div class="form-row">
      <div class="mx-sm-12">
        <div class="alert alert-danger fade show" *ngIf="userForm.get('userPwd').hasError('required') && userForm.get('userPwd').touched">
            Password is required!
        </div>
        <div class="alert alert-danger" *ngIf="userForm.get('userPwd2').hasError('required') && userForm.get('userPwd2').touched">
          Confirm Password is required!
        </div>
        <div class="alert alert-danger" *ngIf="userForm.hasError('mismatch')">
          Password and Confirm Password is unmatched!
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="mx-sm-12">
        <label class="form-check-label">
          <input class="form-check-input"
          type="checkbox"
          formControlName="isActive">
          Active User
        </label>
      </div>

    </div>
    <br>


      <!-- Start userPhones array form -->
      <div class="form-group">
        <div class="form-group" formArrayName="userPhones">
          <label>Phones</label> <button type="button" class="btn btn-dark" (click)="onAddPhone()">Add Phone</button>
          <div class="form-row form-inline" *ngFor="let userPhonesCtrl of userForm.get('userPhones')['controls']; let i = index" [formGroupName]="i" style="margin-top: 10px;">
            <div class="form-group mx-sm-3">
              <input type="text" class="form-control" formControlName="desc" placeholder="Work, Home, etc.">
            </div>
            <div class="form-group mx-sm-3">
              <input type="text" class="form-control" formControlName="number">
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-warning" (click)="onDeletePhone(i)">Remove</button>
            </div>
          </div>

        </div>
      </div>
      <!-- End array form -->

      <!-- Start userEmails array form -->
      <div class="form-group">
        <div class="form-group" formArrayName="userEmails">
          <label>Email</label> <button type="button" class="btn btn-dark " (click)="onAddEmail()">Add Email</button>
          <div class="form-row form-inline" *ngFor="let userEmailCtrl of userForm.get('userEmails')['controls']; let i = index" [formGroupName]="i" style="margin-top: 10px;">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="desc" placeholder="Work, Home, etc.">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-warning" (click)="onDeleteEmail(i)">Remove</button>
            </div>
          </div>

        </div>
      </div>
      <!-- End array form -->

      <div class="list-group">
        <div class="list-group-item">
          <strong> User Permissions </strong>
      </div>
      <div class="list-group-item">

        <div class="form-check" [formGroup] ="authRulesGroup">
          <label class="form-check-label">
            <input class="form-check-input"
            type="checkbox"
            formControlName="isAdmin">
            Admin
          </label>
          <label class="form-check-label">
            <input class="form-check-input"
            type="checkbox"
            formControlName="isWareHouseManager">
            WareHouse Manager
          </label>
          <label class="form-check-label">
            <input class="form-check-input"
            type="checkbox"
            formControlName="isDispatcherManager">
            Dispatcher Manager
          </label>

          <label class="form-check-label">
            <input class="form-check-input"
            type="checkbox"
            formControlName="isAtmTechnician">
            Atm Technician
          </label>

          <label class="form-check-label">
            <input class="form-check-input"
            type="checkbox"
            formControlName="isAtmVaulter">
            isAtmVaulter
          </label>

          <label class="form-check-label">
            <input class="form-check-input"
            type="checkbox"
            formControlName="isTreasurer">
            isTreasurer
          </label>

        </div>
      </div>
      </div>
 <input type="hidden" formControlName="id" value="{{id}}">

    </form>
  </div>


  <!-- </div> -->
