.input-group{
margin-bottom: 5px;
}

.card{
  margin-top:15px;
  padding:15px;
}

label{
  font-weight: bold;
  padding-right:5px;
}

.btn{
  margin-left:5px;
}

.badge{
  margin-left: 2px;
}
.caption{
  color:#999;
  margin-left: 5px;
}

.row{
  margin-top:5px;
}

.ngx-datatable.material .datatable-header .datatable-header-cell{
 color:#000;
 font-weight: bold;
 font-size:0.8rem;
 text-transform: uppercase;

}

th.column-header > span {
    font-size: small;
}

.ngx-datatable.material{
  box-shadow: 0px 0px 0px;
}

.list-group{
  border:0px;
}
nav.navbar.bg-light-blue {
    background-color: #ccc;
    border-radius: 5px;
}
th.column-header.column-isSelected  {
    width: 80px;
}
th.column-header.column-location {
    width: 59px;
}
th.index-column-header {
    width: 50px !important;
}
.popover {
  max-width: 100%;
  }

dl.row,dt,dd{
  font-size:small;
}

.detail-box{
      background: rgba(96, 125, 139, 0.26);
    padding: 10px;
    border-radius: 5px;
}

.task-text{
  padding: 5px;
}

.btn-link{
    cursor: pointer;
    outline: 0;
    border: 0px;
}
.bg-light {
    background-color: #FFF!important;
    border-bottom: 2px solid #2196F3;
    border-radius: 5px;
}