<div class="card">
  <h3><i class="fa fa-credit-card" aria-hidden="true"></i> {{ editMode? 'Edit': 'Create'}} Dispatch Ticket</h3>
  <div class="card-body">
    <h4 class="card-title">Dispatch Ticket ID :{{ editMode? dt.dtID : 'New' }} </h4>
    <nav class="navbar bg-light-blue">
      <div class="form-group">
        <button [disabled]="!dtForm.valid" class="btn btn-primary" (click)="onSubmit()" type="submit">{{ editMode? 'Update' : 'Create' }}</button>
        <button class="btn btn-danger pull-right" (click)="onCancel()" type="reset">Cancel</button>
        <br>
      </div>
    </nav>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
      <div class="form-inline">
        <div class="form-group">
          <div class="input-group">
               <label for="atmFilter">
                Assignment date : 
              </label>
            <input class="form-control" placeholder="yyyy-mm-dd"
            name="dp" [(ngModel)]="assignmentDate" ngbDatepicker #d="ngbDatepicker">
            <button class="input-group-addon" (click)="d.toggle()" type="button">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      </div>
    </div>
    <br>
    <ngb-tabset>
    <ngb-tab>
    <ng-template ngbTabTitle><b><i class="fa fa-credit-card" aria-hidden="true"></i>ATM Machines</b></ng-template>
    <ng-template ngbTabContent>
    <div class="row">
      <div class="col-md-12">
        <!-- atm list  -->
        <ul class="list-group">
          <li class="list-group-item">
            <h3>Select Service ATM Machine </h3>
          </li>
          <li class="list-group-item">
            <div class="form-inline">
              <label for="atmFilter">
                The remaining balance is lower than
              </label>
              <input name="atmFilter" class="form-control" type="number" class="form-control" [(ngModel)]="atmFilter" [ngModelOptions]="{standalone: true}" />
              <button class="btn btn-success" (click)="getAtmsList()">
              Apply
              </button>
            </div>
          </li>
          <li class="list-group-item">
            <!-- start bootstrap table -->
            <div style="margin: auto;">
              <data-table headerTitle="Select Atms" [items]="atms" [itemCount]="atmsCount" (reload)="reloadAtm($event)" [pagination]="true" [indexColumn]="true" [selectColumn]="false" [multiSelect]="true" [rowColors]="rowColors" [limit]="5" [sortBy]="'remainingBefore'" [sortAsc]="true">
              <data-table-column property="isSelected" header="Select" sortable="true">
              <ng-template #dataTableCell let-item="item">
              <input type="checkbox" [(ngModel)]="item.isSelected" (change)="onChecked()" />
              </ng-template>
              </data-table-column>
              <data-table-column sortable="true" property="atmMachineID" header="ATM ID" [resizable]="true" sortable="true">
              <ng-template #dataTableCell let-item="item">
              <span>{{item.atm.atmMachineID}}</span>
              </ng-template>
              </data-table-column>
              <data-table-column property="remainingBefore" header="Balance" sortable="true">
              <ng-template #dataTableCell let-item="item">
              <span>{{item.atm.atmBalance}}</span>
              </ng-template>
              </data-table-column>
              <data-table-column property="atmStatus" header="Status" width="100px" sortable="true">
              <ng-template #dataTableCell let-item="item">
              <span>{{item.atm.atmStatus}}</span>
              </ng-template>
              </data-table-column>
              <data-table-column property="dtRefilledMoney" header="Refill" width="150px" sortable="true">
              <ng-template #dataTableCell let-item="item">
              <input type="number" [(ngModel)]="item.dtRefilledMoney" class="form-control input-sm" />
              </ng-template>
              </data-table-column>
              <data-table-column header="Map" property="location" [resizable]="true">
              <ng-template #dataTableCell let-item="item">
              <ng-template #popContent>
              <div style="width:350px;position: relative;">
                <app-map-with-marker (onDraggedLocation)="onGetDraggedLocation($event)" [atm]="item['atm']">
                </app-map-with-marker>
              </div>
              </ng-template>
              <button type="button" [ngbPopover]="popContent" #p="ngbPopover" class="btn btn-outline-success btn-sm" triggers="click:blur" placement="top" container="body">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              </button>
              </ng-template>
              </data-table-column>
              <data-table-column sortable="true" property="dtEstLoadDay" [resizable]="true" header="Est Load Day">
              <ng-template #dataTableCell let-item="item">
              <input type="number" [(ngModel)]="item.dtEstLoadDay" class="form-control input-sm" style="width: 75px" />
              </ng-template>
              </data-table-column>
              </data-table>
              <div>
              </div>
            </div>
            <!-- end bootstrap table -->
          </li>
          <li class="list-group-item">
            <h6>Selected ATMs : <small>({{selectedAtms?.length}})</small></h6>
            <span class="badge badge-pill badge-info" *ngFor='let sel of selectedAtms'>
              {{sel.atm.atmMachineID}}
            </span>
            <small *ngIf="!selectedAtms?.length">- No Selections -</small>
          </li>
        </ul>
      </div>
    </div>
    </ng-template>
    </ngb-tab>
    <ngb-tab *ngIf="selectedAtms?.length && tTickets.length">
    <ng-template ngbTabTitle><b><i class="fa fa-ticket" aria-hidden="true"></i>Technician Ticket</b></ng-template>
    <ng-template ngbTabContent>
    <!-- Technician Ticket table -->
    <div style="margin: auto;" >
      <data-table headerTitle="Select the Technician Tickets" [items]="tTickets" [itemCount]="tTicketCount" (reload)="reloadtTicket($event)" [pagination]="true" [indexColumn]="true" [selectColumn]="false" [multiSelect]="true" [limit]="5" [expandableRows]="true" [sortBy]="'atmMachineID'" [sortAsc]="true">
      <ng-template #dataTableExpand let-item="item">
      <div class="detail-box">
        <dl class="row">
          <dt class="col-sm-3">Symptom</dt>
          <dd class="col-sm-9">{{item.tTicketSymptom}}</dd>
          <dt class="col-sm-3">Solution</dt>
          <dd class="col-sm-9">{{item.tTicketSolution}}</dd>
          <dt class="col-sm-3">ResponsiblePerson</dt>
          <dd class="col-sm-9">{{item.tTicketResponsiblePerson.fullName}}</dd>
          <dt class="col-sm-3">Repaired Part</dt>
          <dd class="col-sm-9">
          {{item.tTicketRepairedPart.partID}}
          <small>{{item.tTicketRepairedPart.partDetail}}</small>
          <small>{{item.tTicketRepairedPart.partSerialNumber}}</small>
          </dd>
        </dl>
      </div>
      </ng-template>
      <data-table-column property="isSelected" header="Select" sortable="true">
      <ng-template #dataTableCell let-item="item">
      <input type="checkbox" [(ngModel)]="item.isSelected" (change)="onSelectedTts(true)" />
      </ng-template>
      </data-table-column>
      <data-table-column sortable="true" property="atmMachineID" header="ATM ID" [resizable]="true" sortable="true">
      <ng-template #dataTableCell let-item="item">
      <span>{{item.atmMachineID}}</span>
      </ng-template>
      </data-table-column>
      <data-table-column sortable="true" property="tTicketID" header="Ticket ID" [resizable]="true" sortable="true">
      <ng-template #dataTableCell let-item="item">
      <span>{{item.tTicketID}}</span>
      </ng-template>
      </data-table-column>
      <data-table-column sortable="true" property="tTicketCreated" header="Created" [resizable]="true" sortable="true">
      <ng-template #dataTableCell let-item="item">
      <span>{{ item.tTicketCreated | date: 'medium'}}</span>
      </ng-template>
      </data-table-column>
      <data-table-column sortable="true" property="tTicketSymptom" header="Symptom" [resizable]="true" sortable="true">
      <ng-template #dataTableCell let-item="item">
      <span>{{item.tTicketSymptom}}</span>
      </ng-template>
      </data-table-column>
      </data-table>
      <div>
      </div>
    </div>
    <div>
      <h6>Selected Technician Tickets:  <small>({{selectedTTickets?.length}})</small></h6>
      <span class="badge badge-pill badge-success" *ngFor='let sel of selectedTTickets'>
        {{sel.tTicketID}}
      </span>
      <small *ngIf="!selectedTTickets?.length">- No Selections -</small>
    </div>
    <!-- Technician Ticket table -->
    </ng-template>
    </ngb-tab>
    <ngb-tab >
    <ng-template ngbTabTitle><b><i class="fa fa-user-secret" aria-hidden="true"></i> Responsible Persons</b></ng-template>
    <ng-template ngbTabContent>
    <div class="row">
      <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="form-group">
          <label for="subscription">ResponsiblePerson: </label>
          <!-- ResponsiblePerson  -->
          <ng-template #rtPerson let-r="result" let-t="term">
          <div class="type-head-item">
            {{ r?.fullName }}
          </div>
          </ng-template>
          <div class="input-group">
            <span class="input-group-addon"><strong><i class="fa fa-search" aria-hidden="true"></i> Search</strong></span>
            <input
            (keyup.enter)="addResponsiblePersonToList()"
            id="typeahead-template" placeholder="Enter Vaulter name to search." class="form-control" type="text" class="form-control" [(ngModel)]="selectedResponsiblePerson" [ngModelOptions]="{standalone: true}" [ngbTypeahead]="searchPerson" [resultTemplate]="rtPerson" [inputFormatter]="formatterPerson" />
          </div>
          <div class="type-head-group-list" *ngIf="selectedResponsiblePerson.fullName">
            <ul class="list-group">
              <li class="list-group-item list-group-item-secondary"><strong> Search Result</strong></li>
              <li class="list-group-item"> <span class="caption">First Name :</span> {{selectedResponsiblePerson.firstName}}</li>
              <li class="list-group-item"> <span class="caption">Last Name :</span> {{selectedResponsiblePerson.lastName}}</li>
              <li class="list-group-item">
                <button class="btn btn-success" #btnAddResponsiblePerson (click)="addResponsiblePersonToList()">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Add to Responsible Persons
                </button>
              </li>
            </ul>
          </div>
        </div>
        <div class="type-head-group-list">
          <ul class="list-group">
            <li class="list-group-item">
              <h4> Responsible Persons </h4>
            </li>
            <li class="list-group-item" *ngIf="listResponsiblePerson.length === 0"> - No Selections - </li>
            <li class="list-group-item" *ngFor="let rp of listResponsiblePerson;let i= index">
              <strong class="pull-left"> {{ i+1 }} : {{ rp.fullName}}</strong>
              <button class=" btn btn-danger btn-sm pull-right" (click)="removeResponsiblePerson(i)">
              <i class="fa fa-trash" aria-hidden="true" ></i>
              </button>
              <div class="pull-right">
                <a class="caption" *ngFor="let ph of rp.userPhones" href="tel:{{ph.number}}"><i class="fa fa-phone" aria-hidden="true"></i> {{ ph.desc }}:{{ph.number}}</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </ng-template>
    </ngb-tab>
    <ngb-tab >
    <ng-template ngbTabTitle><b><i class="fa fa-tasks" aria-hidden="true"></i>Manual Task</b></ng-template>
    <ng-template ngbTabContent>
    <div class="row">
      <div class="col-md-10 col-sm-12 col-xs-12">
        <label>Manual Tasks: </label> <span class="badge badge-success">{{ mnTasks.length }}</span>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"> Title:  </span>
          <input #taskTitle type="text" class="form-control" placeholder="Add the text here" aria-label="Add task title here"
          [(ngModel)]="mnTask.taskTitle"
          (keyup.enter)="taskDetail.focus();">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Detail: </span>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Add task description text here" aria-label="Add the text here"
          #taskDetail
          (keyup.enter)="addTask();taskTitle.focus();"
          [(ngModel)]="mnTask.taskDetail"></textarea>
          <button (click) ="addTask();taskTitle.focus();" class="btn btn-success" > Create Task</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="list-group">
          <li *ngFor="let itm of mnTasks; let i = index"
            class="list-group-item">
            <div>
              <div class="row">
                <div class="col col-10">
                  <span class="badge badge-secondary">{{ i+1 }}</span>
                  <span> <strong>{{itm.taskTitle}}</strong></span>
                  <span class="task-text">{{itm.taskDetail}}</span>
                </div>
                <div class="col col-2">
                  <div class="btn-toolbar mb-3 pull-right" role="toolbar">
                    <div class="btn-group pull-right mr-2" role="group">
                      <button *ngIf="i>0"
                      (click)="orderTask(true,i)"
                      type="button" class="btn btn-outline-secondary btn-sm"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                      <button  *ngIf="i < mnTasks.length-1"
                      (click)="orderTask(false,i)"
                      type="button" class="btn btn-outline-secondary btn-sm"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                    </div>
                    <div class="btn-group pull-right mr-1" role="group">
                      <button class="btn btn-danger btn-sm " title="Delete" (click)="removeManualTask(i)">
                      <i class="fa fa-trash" aria-hidden="true" ></i></button>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    </ng-template>
    </ngb-tab>
    </ngb-tabset>
  </div>
  <div class="card-footer">
  </div>
</div>