.card{
  margin-top:15px;
  max-width:800px;
}

.active-user{
  background-color:green;
}

.inactive-user{
  background-color:red;
}
.yes{
	background-color:green;
}

.no{
	background-color:red;
}

.list-group-item{
	border:none;
}

.btn{
  margin-left: 5px;
}
