<div class="card">
	<div class="card-block">
		<div class="row">
			<div class="col-sm">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Dispatch ID :<h5><a style="cursor: pointer;" [routerLink]="['../dispatch-ticket/',dtId]">  
							{{ dt.dtID }}
							<i class="fa fa-external-link-square" aria-hidden="true"></i>
							</a></h5></th>

						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="2">
								Status: <span class="badge {{ dt.dtStatus }}" >
									{{ dt.dtStatus }}
								</span></td>
							</tr>
							<tr>
								<td colspan="2"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>
								<small>created: {{ dt.created | date:'medium' }}</small></td>
							</tr>
							<tr>
								<td colspan="2"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>
								<small>updated: {{ dt.updated | date:'medium' }}</small></td>
							</tr>
							
						</tbody>
					</table>
				</div>
				<div class="col-sm">
					<table class="table">
						<thead>
							<tr>
								<th colspan="2"><strong>Details</strong></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<strong>Responsible Person:</strong>
									<span class="badge badge-pill badge-info" *ngFor="let dtr of dt.dtResponsiblePersons">
										{{dtr.fullName}}
									</span>
								</td>
							</tr>
							<tr>
								<td>
									<strong>ATM Machines:</strong>
									<table>
										<tr>
											<th>ATM</th>
											<th>Expected Remaining</th>
											<th>Actual Remaining</th>
											<th>Deposit</th>
											<th>Bad Bill</th>
											<th>Expected Balance</th>
											<th>Actual Balance</th>

										</tr>
										<tr *ngFor="let dta of dt.dtAtms ">
											<td>{{dta.atm.atmMachineID}}</td>
											<td>{{dta.remainingBefore}}</td>
											<td>{{dta.actualRemaining}}</td>
											<td>{{dta.deposit}}</td>
											<td>{{dta.badBill}}</td>
											<td>{{(dta.remainingBefore + dta.deposit ) - dta.badBill}}</td>
											<td>{{(dta.actualRemaining + dta.deposit ) - dta.badBill}}</td>


										</tr>
										<tr>
											<td><strong>Summary</strong></td>
											<td>
												<strong>{{ sumRemainingBalance | currency:'USD':true}}
												</strong>
											</td>
																						<td>
												<strong>{{ sumActualRemaining | currency:'USD':true}}
												</strong>
											</td>
											<td>
												<strong>{{ sumDeposit | currency:'USD':true}}
												</strong>
											</td>
											<td>
												<h5>{{ sumBadBill | currency:'USD':true}}
												</h5>
											</td>
											<td>
												<strong>{{ sumCurrentBalance | currency:'USD':true}}
												</strong>
											</td>
																						<td>
												<strong>{{ sumActualBalance | currency:'USD':true}}
												</strong>
											</td>
										</tr>
									</table>
	

								</td>
							</tr>
							<tr>
								<strong>Related TechnicianTicket:</strong>
								<span class="badge badge-pill badge-dark" *ngFor="let tt of dt.dtTechnicianTickets ">
									{{tt.tTicketID}}
								</span>
							</tr>
							
						</tbody>
					</table>
				</div>
				<div class="col-sm">
					<strong>Total Machines Remaining Balance</strong>
					<small class="form-text text-muted">Dispatch {{dt.dtAtms?.length }} machines.</small>
					<h5>{{sumRemainingBalance | currency:'USD':true}}</h5>
					<hr>
					<strong>Withdraw</strong><br>
					<h5>{{dt.dtWithdrawBalance | currency:'USD':true}}</h5>
					<form
					 *ngIf="dt.dtStatus==='open'"
					 #f="ngForm" (ngSubmit)="onWithdraw(f)" novalidate>
					<div class="form-group form-inline">
						<label for="txtWithdrawAmount">Total: </label>
						<input ngModel required #txtWithdrawAmount name="txtWithdrawAmount" 
						type="number" class="form-control" id="txtWithdrawAmount" placeholder="0.00">
						<small class="form-text text-muted">enter amount of withdraw.</small>
					</div>
					<button [disabled]="!f.valid" 
					ngbTooltip="Change the status from (open) to (Withdraw) by Treasurer " triggers="mouseenter:mouseleave" popoverTitle="Withdraw" container="body"
					class="btn btn-warning" type="submit">Withdraw</button>
					</form>
					<hr>
					<div *ngIf="dt.dtStatus==='completed'">
					<strong>Closed Ticket : </strong>
					<form
					 #rf="ngForm" (ngSubmit)="onRecieved(rf)" novalidate>
					<div class="form-group form-inline">
						<label for="txtReturnAmount">Total Return BadBills: </label>
						<input ngModel required #txtReturnAmount name="txtReturnAmount" 
						type="number" class="form-control" id="txtReturnAmount" placeholder="0.00">
						<small class="form-text text-muted">enter amount of return bills.</small>
					</div>
					<button [disabled]="!rf.valid" 
					 ngbTooltip="Change the status to (closed) by Treasurer when recieved return money or Bad bill from vaulter.
					" triggers="mouseenter:mouseleave" popoverTitle="Return Recieved" container="body"
					class="btn btn-danger" type="submit">Recieved/Return</button>
					</form>
					
				</div>
			</div>
			<div class="row">
				<div class="col">
					<hr>
				</div>
			</div>
		</div>
	</div>