<div class="card">
	<div class="card-block">
		<div class="row">
			<div class="col-sm">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Dispatch ID :<h5>{{ dt.dtID }}</h5></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="2">
								Status: <span class="badge {{ dt.dtStatus }}" >
									{{ dt.dtStatus }}
								</span></td>
							</tr>
							<tr>
								<td colspan="2"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>
								<small>created: {{ dt.created | date:'medium' }}</small></td>
							</tr>
							<tr>
								<td colspan="2"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>
								<small>updated: {{ dt.updated | date:'medium' }}</small></td>
							</tr>
							
						</tbody>
					</table>
				</div>
				<div class="col-sm">
					<table class="table">
						<thead>
							<tr>
								<th colspan="2"><strong>Details</strong></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<strong>Responsible Person:</strong>
									<span class="badge badge-pill badge-info" *ngFor="let dtr of dt.dtResponsiblePersons">
										{{dtr.fullName}}
									</span>
								</td>
							</tr>
							<tr>
								<td>
									<strong>ATM Machines:</strong>
									<span class="badge badge-pill badge-atm" *ngFor="let dta of dt.dtAtms ">
										{{dta.atm.atmMachineID}}
									</span>
								</td>
							</tr>
							<tr>
								<strong>Related TechnicianTicket:</strong>
								<span class="badge badge-pill badge-dark" *ngFor="let tt of dt.dtTechnicianTickets ">
									{{tt.tTicketID}}
								</span>
							</tr>
							
						</tbody>
					</table>
				</div>
				<div class="col-sm">
					<strong>Total Machines Remaining Balance</strong>
					<small class="form-text text-muted">Dispatch {{dt.dtAtms?.length }} machines.</small>
					<h5>{{sumRemainingBalance | currency:'USD':true}}</h5>
					<hr>
					<strong>Withdraw</strong><br>
					<h5>{{dt.dtWithdrawBalance | currency:'USD':true}}</h5>
					<form
					 *ngIf="dt.dtStatus==='open'"
					 #f="ngForm" (ngSubmit)="onWithdraw(f)" novalidate>
					<div class="form-group form-inline">
						<label for="txtWithdrawAmount">Total: </label>
						<input ngModel required #txtWithdrawAmount name="txtWithdrawAmount" 
						type="number" class="form-control" id="txtWithdrawAmount" placeholder="0.00">
						<small class="form-text text-muted">enter amount of withdraw.</small>
					</div>
					<button [disabled]="!f.valid" 
					ngbTooltip="Change the status from (open) to (Withdraw) by Treasurer " triggers="mouseenter:mouseleave" popoverTitle="Withdraw" container="body"
					class="btn btn-warning" type="submi">Withdraw</button>
					</form>
					<hr>
					<div *ngIf="dt.dtStatus==='complete'">
					<strong>Closed Ticket : </strong>
					<button
					 ngbTooltip="Change the status to (closed) by Treasurer when recieved return money or Bad bill from vaulter.
					" triggers="mouseenter:mouseleave" popoverTitle="Return Recieved" container="body"
					class="btn btn-danger" (click)="onRecived()">Recieved/Return</button>
					
				</div>
			</div>
			<div class="row">
				<div class="col">
					<hr>
				</div>
			</div>
		</div>
	</div>