<ng-template #popContent>
<div class="update-balance-box pull-right">
	<label for="txtRemaining">
		Current Balance :
	</label>
	<h3 class="pull-left">{{trs?.treasuryBalance | currency:'USD':true}}</h3>
	<br>
	<p for="txtRemaining" class="pull-left">
		New Balance :
	</p>
	<input class="form-control " name="txtRemaining" type="number"  [(ngModel)] ="txtUpdateBalance"><br>
	<div class="btn-group" role="group">
	<button class="btn btn-primary btn-sm" (click)="updateTreasuryBalance();p.close()" type="submit">Save</button>
	<button class="btn btn-danger btn-sm" (click)="p.close()">Cancel</button>
	</div>
</div>
</ng-template>

<ng-template #popLogContent>
<ul class="list-group">
 <li class="list-group-item log-item-box" *ngFor="let tl of trsLogs ">
  <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
  <small>{{ tl.updated | date:'medium' }}</small><br>
  <span class="log-text">{{tl?.oldBalance | currency:'USD':true}}</span>
  <span class="log-text"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
  <span class="log-text log-new-balance">{{tl?.newBalance | currency:'USD':true}}</span>
  <i class="fa fa-user-plus-o" aria-hidden="true"></i><br>
  <span><i class="fa fa-user-o" aria-hidden="true"></i>: {{ tl.updatedBy}}</span><br>
  <span class="log-text">Note : {{ tl.logType}}.</span>
 </li>
 <li class="list-group-item log-item-box">
 <button class="btn btn-danger btn-sm" (click)="pl.close()">
 	Close
 </button>
 <small class="text-muted">*Only the 10 latest records.</small>
</li>
</ul>

</ng-template>
<div class="row">
	<div class="col-md-12">
		<nav class="navbar bg-light-blue">
			<h4>
			<i _ngcontent-c1="" aria-hidden="true" class="fa fa-money"></i>
			Managed Dispatch Ticket by Treasury</h4>
			          
			<div class="balance-box">
				<span class="pull-right badge bedge-pill badge-secondary">Remaining</span>
				<h3 class="pull-right">{{trs?.treasuryBalance | currency:'USD':true}}</h3><br>
				<div class="btn-group" role="group">
<!-- mouseenter:mouseleave -->
					<button 
					placement="bottom" triggers="click:click"
					[ngbPopover]="popLogContent" container="body"  #pl="ngbPopover" popoverTitle="Changed logs:"
					type="button" class="btn btn-light"><i class="fa fa-history" aria-hidden="true"></i> Latest updated log</button>

					<button type="button" class="btn btn-primary pull-right"
					placement="bottom" container="body"
					[ngbPopover]="popContent"  #p="ngbPopover" popoverTitle="Update Treasury Balance">
					Update Treasury
					</button> 

					<button disabled 
          class="btn btn-outline-info pull-right"  >Export CSV</button> 


				</div>
			</div>
		</nav>
	<app-treasury-item *ngFor="let dt of dts " [dt]="dt" [dtId]="dt._id"></app-treasury-item>
</div>
</div>