.container {
  padding: 3rem 1.5rem;
  text-align: center;
}

.bg {
  /*background-image: url("/assets/blue-tile.png");*/
/*  height: 100%;*/
  background: #8BC34A;
  /*   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}
