/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

body, html {
    height: 100%;
    margin: 0;
    background: #8f8d8d;

}
.bg-light {
    background-color: #FFC107!important;
    border-bottom: 2px solid #2196F3;
    border-radius: 5px;
}
.container {
  padding: 3rem 1.5rem;
  text-align: center;
}

.bg {
  background: #8BC34A ;
}
