.card{
  margin-top:15px;
  max-width:800px;
}

.alert{
  margin-top:5px;
}
.btn{
  margin-left: 5px;
}

input.ng-invalid  {
  border-left: 5px solid #a94442; /* red */
}

label{
  font-weight: bold;
  padding-right:5px;
}

.form-row{
  margin-top:10px;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ccc;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ccc;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ccc;
}
